<h1 class="text-center">Buscar por nombre</h1>

<div class="d-flex justify-content-center">
  <form [formGroup]="from" class="mb-4">
    <div class="row">
      <div class="col">
        <input
          type="text"
          formControlName="username"
          placeholder="Usuario"
          class="form-control"
          required
        />
      </div>
      <div class="col">
        <input
          type="text"
          formControlName="reponame"
          placeholder="Repositorio"
          class="form-control"
          required
        />
      </div>
      <div class="col">
        <button (click)="buscarRepos()" class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </form>
</div>

<div class="row justify-content-center">
  <div *ngIf="error" class="alert alert-warning mt-4 col-4 text-center">
    {{ error }}
  </div>
</div>


<div class="row" *ngIf="repos.length > 0">
  <div
    class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4"
    *ngFor="let repo of repos"
  >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ repo.title }}</h5>
        <p class="card-text">{{ repo.author_association }}</p>
        <a [href]="repo.url" class="btn btn-primary" target="_blank"
          >Ir al repositorio</a
        >
      </div>
    </div>
  </div>
</div>
