<h1 class="text-center">Buscar por nombre</h1>

<div class="d-flex justify-content-center">
  <form [formGroup]="from" class="row">
    <div class="col-8">
      <input
        type="text"
        class="form-control"
        formControlName="nombre"
        placeholder="Nombre"
      />
    </div>
    <div class="col">
      <button
        type="submit"
        class="btn btn-primary mb-3"
        (click)="buscarRepos()"
      >
        Buscar
      </button>
    </div>
  </form>
</div>

<div class="row" *ngIf="repos">
  <div
    class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4"
    *ngFor="let repo of repos"
  >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ repo.name }}</h5>
        <p class="card-text">{{ repo.description }}</p>
        <a [href]="repo.url" class="btn btn-primary" target="_blank"
          >Ir al repositorio</a
        >
      </div>
    </div>
  </div>
</div>
